version: '3.9'

services:
  nuxt:
    build:
      context: ./
      dockerfile: Dockerfile
    container_name: nuxt-app
    restart: always
    ports:
      - "3000:3000"
    depends_on:
      - postgres
    environment:
      - NODE_ENV=production
      - NUXT_AUTH_ORIGIN="https://sigecafe.bellon.dev"
      - DATABASE_URL="postgresql://postgres:postgres@localhost:5432/postgres"
      - AUTH_SECRET="secret"
      - SESSION_REFRESH_SECONDS=10
      - SESSION_MAX_AGE_SECONDS=600
    networks:
      - app-network

  postgres:
    image: postgres:14
    container_name: postgres
    restart: always
    # Removed the ports mapping to avoid exposing it externally.
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DB=postgres
    volumes:
      - postgres-data:/var/lib/postgresql/data
    networks:
      - app-network

networks:
  app-network:
    driver: bridge

volumes:
  postgres-data:
