version: '3.9'

services:
  nuxt:
    build:
      context: ./
      dockerfile: Dockerfile
    container_name: sigecafe-nuxt-app
    restart: always
    ports:
      - "3000:3000"
    depends_on:
      postgres:
        condition: service_healthy
    environment:
      - NODE_ENV=production
      - BASE_URL=https://sigecafe.bellon.dev
      - AUTH_SECRET=secret
      - DATABASE_URL=postgresql://postgres:shfalkQHhjhHJ@postgres:5432/sigecafe
      - SESSION_REFRESH_SECONDS=10
      - SESSION_MAX_AGE_SECONDS=600
    networks:
      - app-network

  postgres:
    image: postgres:14
    container_name: sigecafe-postgres
    restart: always
    ports:
      - "5432:5432"
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=shfalkQHhjhHJ
      - POSTGRES_DB=sigecafe
    volumes:
      - postgres-data:/var/lib/postgresql/data
    networks:
      - app-network
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 5s
      retries: 5

networks:
  app-network:
    driver: bridge

volumes:
  postgres-data:
